[Unit]
Description=Nomad orchestrator
Documentation=https://www.nomadproject.io/
After=network-online.target
Wants=network-online.target
ConditionFileNotEmpty=/etc/nomad.d/nomad.hcl

[Service]
Type=simple
ExecStart=/usr/local/bin/nomad agent -node={{ .AgentName }} -config=/etc/nomad.d
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
TimeoutStopSec=5                                                                                                                                    
Restart=on-failure                                                                                                                                  
SyslogIdentifier=nomad                                                                                                                              
                                                                                                                                                    
[Install]                                                                                                                                           
WantedBy=multi-user.target     